.align-center {
    text-align: center;
}

.product-img {
  width: 50%;
}

.techs {
  background-color: #eee;
}

.caption {
  padding: 0px;
}
.card-title {
  margin-bottom: 3px;
}
.align-center {
  margin-bottom: 3px;
}
