<app-header></app-header>
<ol class="breadcrumb">
    <li>Mechanical</li>
    <li>{{subCateName}}</li>
    <li>compare</li>
  </ol>

<table class="table table-bordered table-striped">
  <tr>
    <th></th>
    <th *ngFor="let product of productsToCompare" class="img-center"><img src="https://media.mitre10.com.au/media/catalog/product/cache/1/small_image/250x250/9df78eab33525d08d6e5fb8d27136e95/C/W/CWF121.jpg"></th>
  </tr>
  <tr>
    <td><strong>Description</strong></td>
  </tr>
  <tr *ngFor="let attr of descriptions">
    <td>{{attr}}</td>
    <td *ngFor="let product of productsToCompare" class="content">{{product[attr]}}</td>
  </tr>
  <tr>
    <td><strong>Technical Specifications</strong></td>
  </tr>
  <tr *ngFor="let attr of attributes">
    <td >{{attr | parenthes}}</td>
    <td *ngFor="let product of productsToCompare" class="content">{{product.attributes[attr]}}</td>
  </tr>
  <!-- <tr>
    <td>Airflow</td>
    <td *ngFor="let product of productsToCompare">{{product.attributes.Airflow}}</td>
  </tr> -->
</table>
