/* #form {
    display: inline-block;
    height: 100%;
}

.input {
    float: left;
    height: 100%;
} */

/* #container {
    display: flex;
    justify-content: center;
} */


/*Wei*/
/* nav{
  position: absolute;
  right: 10px;
  top: 10px;
} */

/*#product_detail{*/
/*  position: absolute;*/
/*  right: 5px;*/
/*  top: 100px;*/
/*}*/
